.btn {
    outline: none;
    box-shadow: none;
    border: 2px solid;
    border-radius: 0 5px 5px 0;
    padding: 8px;
}

.btn-primary {
    color: #2b86a5;
    border-color: #2b86a5;
    background-color: transparent;
}

.btn-primary:hover {
    color: #00bfff;
    border-color: #00bfff;
    background-color: transparent;
}

input {
    width: 80%;
    border: 2px solid #2b86a5;
    border-right: none;
    border-radius: 5px 0 0 5px;
    padding: 5px;
    line-height: 21px;
}

input:focus {
    outline: none;
    border: none;
    border: 2px solid #00bfff;
    border-right: none;
}